#Config File example
save_dir: workspace/dummy # In order to review training results afterwars more clear, set this directory
model:
  arch:
    name: GFL
    backbone:
      name: ShuffleNetV2
      model_size: 1.0x
      out_stages: [2,3,4]
      activation: LeakyReLU
    fpn:
      name: PAN
      in_channels: [116, 232, 464]
      out_channels: 96
      start_level: 0
      num_outs: 3
    head:
      name: NanoDetHead
      num_classes: 9 #Please fill in the number of categories (not include background category)
      input_channel: 96
      feat_channels: 96
      stacked_convs: 2
      share_cls_reg: True
      octave_base_scale: 5
      scales_per_octave: 1
      strides: [8, 16, 32]
      reg_max: 7
      norm_cfg:
        type: BN
      loss:
        loss_qfl:
          name: QualityFocalLoss
          use_sigmoid: True
          beta: 2.0
          loss_weight: 1.0
        loss_dfl:
          name: DistributionFocalLoss
          loss_weight: 0.25
        loss_bbox:
          name: GIoULoss
          loss_weight: 2.0

class_names: &class_names ["ordinary_car", "police_car", "ambulance", "fire_truck", "person", "bike_rider", "motor_rider", "bus", "truck"]  #Please fill in the category names (not include background category)
data:
  train:
    name: xml_dataset
    class_names: *class_names
    img_path: E:/Dataset/SpecialVehicle/all-images/train  #Please fill in train image path
    ann_path: E:/Dataset/SpecialVehicle/all-annotations/train  #Please fill in train xml path
    input_size: [320,320] #[w,h]
    keep_ratio: True
    pipeline:
      perspective: 0.0
      scale: [0.6, 1.4]
      stretch: [[1, 1], [1, 1]]
      rotation: 0
      shear: 0
      translate: 0.5
      flip: 0.5
      brightness: 0.5
      contrast: [0.5, 2.0]
      saturation: [0.5, 1.5]
      normalize: [[103.53, 116.28, 123.675], [57.375, 57.12, 58.395]]
  val:
    name: xml_dataset
    class_names: *class_names
    img_path: E:/Dataset/SpecialVehicle/all-images/val  #Please fill in train image path
    ann_path: E:/Dataset/SpecialVehicle/all-annotations/val  #Please fill in train xml path
    input_size: [320,320] #[w,h]
    keep_ratio: True
    pipeline:
      normalize: [[103.53, 116.28, 123.675], [57.375, 57.12, 58.395]]
device:
  gpu_ids: [0]
  workers_per_gpu: 8
  batchsize_per_gpu: 32
schedule:
#  resume:
  load_model: E:/Repo/nanodet/model_zoo_official/nanodet_m.pth
  optimizer:
    name: SGD
    lr: 0.02  # Originally batchsize is 160，lr is 0.14，when i change batchsize to 32，lr should also change to 0.028，keep batchsize*lr the same
    # 后来我从tensorboard的曲线图看出在第一阶段和第二阶段之间有个骤降，所以我决定把初始学习率设得低一点，从0.028改成0.02
    momentum: 0.9
    weight_decay: 0.0001
    nesterov: True
  warmup:
    name: linear
    steps: 300
    ratio: 0.1
  total_epochs: 250
  lr_schedule:
    name: MultiStepLR
    milestones: [50,150,170,190]  # [130,160,175,185]
    gamma: 0.1
    max_lr: 0.05
    total_steps: 250
  val_intervals: 1
evaluator:
  name: CocoDetectionEvaluator
  save_key: mAP

log:
  interval: 10
